<footer class="b-footer">
  <div class="row justify-content-center b-footer__container">
    <div class="col">
        <span class="d-inline-block ml-2 mt-3 text-white"><a class="text-white" href="https://www.freepik.com">Graphics designed by freepik</a></span>
    </div>
    <div class="col-auto">
      <span class="d-inline-block mt-3 text-white">&copy; Soothing Coding 2018 </span> <span style="color:white;" class="mx-2">-</span> <a href="/contact" style="color:white;">Contact us</a>
    </div>
    <div class="col">

    </div>
  </div>
</footer>
