.b-contact-form__radio-label input {
  display:none;
}

.contact-form {
  height:600px;
}

#id_project_desc{
  width: 100%;
  height : 250px;
  resize: none;
}

// .contact-form__btn{
//   border-radius: 0px;
//   font-weight: 700;
//   font-size: small;
// }
//
// .contact-form__btn .active {
//   color: #fff;
//   background-color: #88BBD6;
// }
// .contact-form__btn .active, .contact-form__btn .focus{
//   box-shadow: 0 0 0 0.2rem rgba(205, 205, 205, 1) ;
// }
//
// @media screen and (min-width: 480px) {
//   .contact-form__btn {
//     font-size: medium;
//   }
// }
