/* General customization*/
.text-primary-custom {
  color: #99D3DF;
}

.btn-primary{
  background-color: #99D3DF;
  border-color: #99D3DF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #88BBD6;
}

.value-proposition .btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(205, 205, 205, 1) ;
}


/*value-proposition*/
.value-proposition hr{
  border-color: #99D3DF;
}


/*services*/


.services hr {
  border-color: #99D3DF;
}
.services .card{
  background-color: white;
  border:0px;
  margin-bottom: 1em;
}
.services .card-footer {
  border: 0px;
  background-color: white;
}

.services h1, h2, h3 {
  color: #7e7e7e;
}


/* menu-general */

.menu-general__link{
  color: #99D3DF;
}

.menu_general__navbar-brand{
  border-right: solid 1px;

}
.menu-general--border{
  border-right: solid 1px;
}
.menu-general .nav-item:hover :not(.menu-general__btn ) {
  color: #b1b1b1 ;

}

.menu-general__btn{
  color: #99D3DF;
  border: solid 1px;
  border-color: #99D3DF;
  text-transform: none;
}

.menu-general{
  min-height: 10%;
}
.menu-general__btn:hover, .menu-general__btn:focus, .menu-general__btn:active {
  color: white;
  border:none;
  background-color: #99D3DF;
}

.menu-general__btn:active, .menu-general__btn:focus {
  color:white
  box-shadow: 0 0 0 0.2rem rgba(153, 211, 223, 1) ;
}
