{% load menu_tags %}

  <nav class="b-menu-general bg-white fixed-top navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#b-menu-general__collapse" aria-controls="b-menu-general__collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <a class="b-menu-general__navbar-brand navbar-brand" href="#">Soothing Coding</a>
      <div class="collapse  navbar-collapse mr-auto" id="b-menu-general__collapse">
          <ul class="navbar-nav">
          {% for child in children %}
              <li class="nav-item {% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
                <a class="b-menu-general--border nav-link b-menu-general__link" href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                {% if child.children %}
                  {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
                {% endif %}
              </li>
          {% endfor %}
          <li class="align-middle d-inline ml-2">
              <button href="#" class="b-cta b-cta--outlined btn btn-primary">En savoir plus</button>
          </li>
        </ul>
      </div>
  </nav>
