.b-agile-workflow {
  background-color: $secondary-grey;
}

.b-agile-workflow__row {
  margin-bottom: 200px;
}

.b-agile-workflow__illustration {
  background-color: $white;
  border-radius: 5px;
}

.b-agile-workflow__subtitle {
  color:$white;
}
