.b-card-icon {
  width: 250px;
  height:450px;
  background-color: $secondary-blue;
  border: solid 1px $secondary-blue;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .b-card-icon{
    width: 500px;
    height: 550px;
  }
}

.b-card-icon__img {
  width:150px;
  height:150px;
  border-radius: 50%;

}

.b-card-icon__title {
  color:$white;
}

.b-card-icon__text {
  color:$white;
  margin-top:50px;
}
