$main-blue:#99D3DF;
$secondary-blue: #88BBD6;
$main-grey: #CDCDCD;
$secondary-grey : #7e7e7e;
$white: #FFF;
@import 'custom.scss';
@import 'b-header.scss';
@import 'b-agile-workflow.scss';
@import 'b-section-title.scss';
@import 'b-card-icon.scss';
@import 'b-subtitle.scss';
@import 'b-step.scss';
@import 'b-value-service.scss';
@import 'b-cta.scss';
@import 'b-button.scss';
@import 'b-menu-general.scss';
@import 'b-hero.scss';
@import "b-article.scss";
@import 'b-footer.scss';
