{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Soothing Coding{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
        <!-- Bootstrap core CSS -->
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <!-- Plugin CSS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static "css/custom.css" %}" rel="stylesheet">

        {% render_block "css" %}
    </head>
    <body class="bg-light" id="page-top">
        {% cms_toolbar %}
        <div class="container-fluid">
          {% show_menu 0 100 100 100 "menu/menu.html"%}
          {% block content %}
          {% endblock content %}
        </div>
        <!-- Bootstrap core JavaScript -->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


        <!-- Custom scripts for this template -->
        <script src="{% static "js/modal-details.js" %}"></script>
        <script src="{% static "js/parallax.js" %}"></script>
        <script src="{% static "js/custom.js" %}"></script>
        {% render_block "js" %}


    </body>
</html>
