{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
<header class="masthead text-center text-white d-flex value-proposition">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Soothing Coding</strong>
        </h1>
        <hr>
      </div>
      <div class="col">
          <p class="text-faded mb-5">	Entre une idée et un site web il n'y a qu'un pas</p>
          <p class="text-faded mb-5">	Soothing coding vous aide à le franchir sereinement</p>
        <div class="row mt-5 justify-content-center">
          <div class="col-md-6 col-lg-4">
            <a class="btn btn-primary btn-block btn-xl js-scroll-trigger" href="#about">Je veux lancer mon projet !</a>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col mx-4 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-pencil text-primary-custom mb-3 sr-icons"></i>
          <h3 class="mb-3">Conception</h3>
          <p class="mb-0">Nous vous accompagnons dans l'expression de votre besoin</p>
        </div>
      </div>
      <div class=" mx-4 col text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-code text-primary-custom mb-3 sr-icons"></i>
          <h3 class="mb-3">Réalisation</h3>
          <p class="mb-0">Développement de votre site à l'aide des technologies les plus récentes</p>
        </div>
      </div>
      <div class="mx-4 col text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-laptop text-primary-custom mb-3 sr-icons"></i>
          <h3 class="mb-3">Formation</h3>
          <p class="mb-0">Restez maîtres de votre projet</p>
        </div>
      </div>
  </div>
</header>
{% endblock %}
