{% extends "base.html" %}
{% load cms_tags %}
{% load static %}
{% load blocks %}
{% block content %}
<header  data-parallax='scroll' data-speed=0.5 data-image-src = "{% static 'img/header.jpg' %}" class="parallax-window masthead text-center slow-scroll text-white d-flex s-header">
  <div class="container my-auto">
    <div class="row">
      <div class="col">
        <div class="b-h1">
          <div class="row mx-auto">
            <div class="col">
                <h1 class="b-h1__title text-uppercase">
                  <strong>Soothing Coding</strong>
                </h1>
                <hr class="b-separator">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4 class="b-h1__slogan mb-5"> Entre une idée et un site web il n'y a qu'un pas</h4>
              <h4 class="b-h1__slogan mb-5"> Soothing coding vous aide à le franchir sereinement</h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
              {% cta 'Démarrer mon projet' 'b-cta--big' '/fr/contact'%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col mx-4 text-center">
          {% value_service "fa-pen" "Conception" "Nous vous accompagnons dans l'expression de votre besoin" %}
        </div>
        <div class=" mx-4 col text-center">
          {% value_service "fa-code" "Réalisation" "Développement de votre site à l'aide des technologies les plus récentes" %}
        </div>
        <div class="mx-4 col text-center">
          {% value_service "fa-laptop" "Formation" "Restez maîtres de votre projet" %}
        </div>
    </div>
  </div>
</header>
  <section class="container-fluid services">
  <div class="row mb-5 justify-content-center">
    <div class="col-auto">
      <div class="b-h2">
        <div class="row mx-auto">
          <div class="col">
            <h2 class="b-h2__title text-uppercase mt-5">Prestations</h2>
              <hr class="b-separator">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row  p-4 parallax-window" data-parallax="scroll" data-image-src="{% static 'img/services-2.jpg' %}" data-speed="0.5" >
    <div class="col">
      <div class="card-group my-4">
        <div class="card mx-4 b-service-card">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="{% static '/img/vitrine.jpg' %}" alt="Site Vitrine - Designed by freepik">
            </div>
            <div class="w-100 d-md-none"></div>

            <div class="col">
              <div class="card-body">
                <h3 class="card-title">Site vitrine</h3>
                <p class="card-text">Mettez en avant vos produits et services ! Grâce à nos sites vitrine fait sur mesure, avoir une présence sur le web n'a jamais été aussi facile. </p>
              </div>
              <div class="card-footer b-service-card__footer">
                <button href="#" data-toggle='modal' data-target='.modal-details' data-list='{"tech":"django-cms", "time":"1 mois", "cost":"1000€ - 2000€"}' data-value="Un site vitrine est composé de quelques pages dont l'objectif est de rapidement mettre en avant un produit, un service , ou toute autre activité qui pourrait bénéficier d'une forte présence sur le web." data-title="Site vitrine" class="b-cta btn btn-primary">En savoir plus</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mx-4 b-service-card">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="{% static "img/e-commerce.jpg" %}" alt="Site Vitrine">
            </div>
            <div class="w-100 d-md-none"></div>
            <div class="col">
              <div class="card-body">
                <h3 class="card-title">E-commerce</h3>
                <p class="card-text">Permettez à vos clients de profiter de vos services chez eux, 24h sur 24. Le E-commerce permet de mettre le digital au service de vos produits</p>
              </div>
              <div class="card-footer b-service-card__footer">
                <button href="#" data-toggle='modal' data-target='.modal-details' data-value="Un site E-commerce et une boutique en ligne permmetant aux utilisateurs de parcourir et le catalogue et réalisé leurs achats directment de chez eux. Une espace administrateur permet de gérer les commandes et le stock, tout en offrant de nombreuses statistiques sur les performance de l'activité" data-list='{"tech":"prestashop", "time":"2 mois", "cost":"2000€ - 3000€"}' data-title="E-commerce" class="b-toggle-modal btn btn-primary">En savoir plus</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-4 card-group">
        <div class="card mx-4 b-service-card">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="{% static "img/fix.jpg" %}" alt="Site Vitrine">
            </div>
            <div class="w-100 d-md-none"></div>

            <div class="col">
              <div class="card-body">
                <h3 class="card-title">Maintenance</h3>
                <p class="card-text">Réparez et améliorez votre site ! Un site comportant des bugs peu vite devenir frustrants pour vos utilisateurs, Soothing Coding s'en occuppe et si besion peut même vous apporter de nouvelles fonctionnalités !</p>
              </div>
              <div class="card-footer b-service-card__footer">
                <button href="#" data-toggle='modal' data-target='.modal-details' data-value="Certains sites, si ils sont mal réalisés, cessent parfoirs de fonctionner correctement. Il est alors nécessaire de réaliser un développement pour corriger les comportements défaillants. C'est souvent l'occasion d'améliorer le site web en lui rajoutant des fonctionnalités." data-list='{"tech":"A définir", "time":"A définir", "cost":"A définir"}' data-title="Maintenance" class="b-cta btn btn-primary">En savoir plus</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mx-4 b-service-card">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="{% static "img/seo.jpg" %}" alt="Site Vitrine">
            </div>
            <div class="w-100 d-md-none"></div>

            <div class="col">
              <div class="card-body">
                <h3 class="card-title">SEO</h5>
                <p class="card-text">Boostez votre présence sur le web grâce à nos audits SEO ! Avoir un bon référencement est devenu un enjeu essentiel pour toutes les entreprises. Nous vous aiderons à rester en tête. </p>
              </div>
              <div class="card-footer b-service-card__footer">
                <button href="#" data-toggle='modal' data-target='.modal-details' data-value="Pour s'assurer qu'un site bénéficie de la meilleure visibilité possible, il est essentiel qu'il soit bien référencé par les moteurs de recherches tels que google. Il existe pour cela de nombreuse techniques d'optimisation, regroupées sous le terme SEO (Search Engine Optimization, ou Optimisation pour les moteurs de recherche). Ces techniques vont souvent de paire avec l'amélioration de l'expérience utilisateur. " data-list='{"tech":"Analytics tools", "time":"1 mois", "cost":"2000€ - 3000€"}' data-title="SEO" class="b-cta btn btn-primary">En savoir plus</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
<div class="modal fade modal-details"  tabindex="-1" role="dialog" aria-labelledby="modal-details__label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-details__label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <p class="modal-details__value"></p>
            </div>
            <div class="w-100 d-sm-none"></div>
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <i class="fab fa-xs mr-4 fa-connectdevelop text-primary-custom"></i>
                  <span class="modal-details__tech"></span>
                </li>
                <li class="list-group-item">
                  <i class="fas fa-xs mr-4 fa-clock text-primary-custom"></i>
                  <span class="modal-details__time"></span>
                </li>
                <li class="list-group-item">
                  <i class="fas fa-xs mr-4 fa-dollar-sign text-primary-custom"></i>
                  <span class="modal-details__cost"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-auto">
              {% cta "Close" "b-cta--lg b-cta--grey" "#" %}
            </div>
            <div class="w-100 d-sm-none"></div>
            <div class="col-auto">
              {% cta "Commencer mon projet !" "b-cta--lg" "/fr/contact" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="s-articles">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="b-h2">
        <div class="row mx-auto">
          <div class="col">
            <h2 class="b-h2__title text-uppercase mt-5">Informations</h2>
              <hr class="b-separator">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" data-aos="fade-right" >
    <div class="col">
        <div class="b-article-preview">
          <div class="row">
            <div class="col-lg-3">
                <img class="mr-3 w-100" src="{% static 'img/project-management.jpg' %}" alt="Generic placeholder image">
            </div>
            <div class="w-100 d-lg-none"></div>
            <div  class="col">
                <div class="row article_summary">
                  <div class="col">
                    <h3 class="mt-1">Méthodologie</h3>
                    Les projets digitaux font intervenir un très grand nombre d'éléments différents qui doivent intéragir ensemble pour générer les pages servies aux utilisateurs. Cette complexité nécessite une gestoin de projet capable de s'adapter en cours de projets à d'éventuelle modification, et de produire régulièrement des éléments apportant un valeur ajoutée réelle au projet.C'est pourquoi les méthodes agiles ont été créée. Chez Soothing Coding nous avons choisi la méthode Scrum qui garantie :
                  </div>
                </div>
                <div class="row article__content">
                  <div class="col col-sm-8">
                    <ul class="mt-4 list-group list-group-flush">
                      <li class="list-group-item">
                        <i class="fas fa-xs mr-4 fa-clock text-primary-custom"></i>
                        Une estimation précise de la durée de dédevelopment
                      </li>
                      <li class="list-group-item">
                        <i class="fa fa-xs mr-4 fa-code text-primary-custom"></i>
                        Un livrable qui correspond parfaitement aux attentes du clients
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-xs mr-4 fa-boxes text-primary-custom"></i>
                        Un ajout régulier de feature 100% fonctionnelles
                      </li>
                    </ul>
                  </div>
                  <div class="w-100 d-sm-none">

                  </div>
                  <div class="col col-sm-4 text-center my-auto">
                    {% cta "En savoir plus" "" "/fr/methodology" %}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div data-aos="fade-right" data-aos-offset="200" data-aos-duration="500" class="row">
    <div class="col">
      <div class="mt-5 b-article-preview">
        <div class="row">
          <div class="col-lg-3">
              <img class="mr-3 w-100" src="{% static 'img/comment-internet.jpg' %}" alt="Generic placeholder image">
          </div>
          <div class="w-100 d-lg-none"></div>
          <div  class="col">
            <div class="row article_summary">
              <div class="col">
                <h3 class="mt-1">Comment marche mon site web ? </h3>

                La philosophie de Soothing Coding consiste à placer le client au coeur du projet, afin qui puisse être maître de l'évolution de son site web. De ce fait, il est bon de comprendre quel sont les différents éléments qui permettent à un site de fonctionner.
                Du serveur au nom de domaine, en passant par le code source, pour tout savoir sur le fonctionnement d'internet, c'est par ici !
              </div>

            </div>
            <div class="row mt-4 p-3">
              <div class="col text-center my-auto">
              {% cta "En savoir plus" "" "#" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
