{% extends "base.html" %}
{% load cms_tags %}
{% load static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
  <header class="bg-light">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <div class="b-h2">
          <div class="row mx-auto">
            <div class="col">
              <h2 class="b-h2__title text-uppercase d-none d-md-block mt-5">Lancez votre projet en un clic !</h2>
              <h2 class="b-h2__title text-uppercase d-block d-md-none mt-5">Contact</h2>
                <hr class="b-separator">
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>
  <section data-parallax='scroll' style="height:100%;" data-speed=0.5 data-image-src = "{% static 'img/services-2.jpg' %}" class="contact parallax-window content">
    <div class="row px-1 px-md-5">
      <div class="d-none d-md-block col-lg-6">
        {% placeholder "content" %}

      </div>
      <div class="d-block d-md-none d-md-block col-lg-6">
        <div class="card h-100 p-lg-5 p-md-3 mt-md-4 mt-lg-0 contact-information">
          <div class="row ">
            <div class="col-12 pt-md-5 col-md-7">
              <div class="mt-md-5 card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span><i class=" d-inline fas fa-xs mr-4 fa-at text-primary-custom"></i>soohtingcoding@gmail.com</span>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-xs mr-4 fa-phone text-primary-custom"></i>
                    <span>06 61 08 46 89</span>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-xs mr-4 fa-code text-primary-custom"></i>
                  </li>
                </ul>
              </div>
            </div>
            <div class=" d-none d-md-block contact-information__illustration col-12 col-md-5">
              <img class="card-img-top" src="{% static "img/contact.jpg" %}" alt="Site Vitrine">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}
