{% extends "base.html" %}
{% load cms_tags %}
{% load static %}

{% block content %}
  <header class="bg-light">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <div class="b-h2">
          <div class="row mx-auto">
            <div class="col">
              <h2 class="b-h2__title text-uppercase d-none d-md-block mt-5">Lancez votre projet en un clic !</h2>
              <h2 class="b-h2__title text-uppercase d-block d-md-none mt-5">Contact</h2>
                <hr class="b-separator">
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>
  <section class="contact_section pt-5">
    <div class="row px-1 px-md-5">
      <div class="d-none d-md-block mb-5 col-12 col-xl-6">
        {% placeholder "content" %}

      </div>
      <div class="w-100 d-xl-none">

      </div>
      <div class="d-block d-md-none d-md-block col-12 col-xl-6">
        <div class="contact-information">
                <ul class="b-contact-information__information list-group list-group-flush">
                  <h2 class="b-contact-informaiton__title text-center mb-5">Contact information</h2>

                  <li class="list-group-item">
                    <span><i class=" d-inline fas fa-xs mr-4 fa-at text-primary-custom"></i>soohtingcoding@gmail.com</span>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-xs mr-4 fa-phone text-primary-custom"></i>
                    <span>06 61 08 46 89</span>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-xs mr-4 fa-code text-primary-custom"></i>
                  </li>
                </ul>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}
